SetEnv MAGIC_QUOTES 0
SetEnv REGISTER_GLOBALS 0

Options -Indexes

RewriteEngine on

RewriteRule !\.(js|ico|txt|gif|jpg|jpeg|png|css|less|otf|eot|svg|ttf|woff|pdf|zip|xml)$ index.php

ErrorDocument 404 /Template_v4/index.php 
ErrorDocument 403 /Template_v4//index.php

SetOutputFilter DEFLATE

<IfModule mod_expires.c>

    ExpiresActive On
    ExpiresDefault "access plus 1 year"

    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"

    ExpiresByType text/css "access 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 year"

</IfModule>

<IfModule mod_headers.c>
    Header set Connection keep-alive
</IfModule>